.App {
  text-align: center;
}

.header {
  background-color: rgb(253, 217, 150);
  height: 100px;
}

.cart {
  float: right;
  margin: 25px;
  padding-right: 50px;
}

.cart img {
  width: 30px;
  height: 30px;
  position: relative;
}

.cart span {
  top: 10px;
  right: 70px;
  position: absolute;
  z-index: 2;
  /* background-color: green; */
}
.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.product-item img {
  height: 130px;
  width: 110px;
}

.logo {
  float: left;
  margin: 0;
  padding: 20px;
}

 /* cart page style */

.cart-page-container{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.cart-page-container table{
  flex: 65%;
  border-collapse: collapse;
}

.cart-page-container table td{
  border: 1px solid #ccc;
  padding: 15px;
}

.price-details{
  flex: 35%;
  margin: 0px 30px;
  
}

.adjust-price{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;

}
.amt{
  color: blueviolet;
}

.dis{
  color: blueviolet;
  left: 15px;
}


/* seacrh boc style */

.search-box{
  float: left;
  padding: 25px;
  width: 65%;
}

.search-box input{
  width: 50%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #777;
}

